<template>
    <ul class="nav navbar-nav">

        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Home</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Culture</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Tech</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Startups</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Self</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Politics</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Design</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>Health</a>
        </router-link>
        <router-link :to="{ name: 'postsList' }" tag="li" v-show="isAuthenticated">
            <a>More</a>
        </router-link>
    </ul>
</template>

<script>
    export default {
        methods: {
            logout() {
                this.$auth.destroyToken()
                location.replace('/login')
                //this.$router.push("/login");
            }
        },

        computed: {
            isAuthenticated() {
                return this.$auth.isAuthenticated()
            }
        }
    }
</script>